@font-face {
    font-family: 'gilroyextrabold';
    src: url('/fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('/fonts/gilroy-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;

  font-family: 'gilroyextrabold','gilroylight', 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

a {
text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  background-color: none;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #F0C52E;
}

.button:active {
  color: #A78920;

  background-color: #F0C52E;
}

.site-search input {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #AD9D69;

  background-color: transparent;
  border: none
}

.site-search input:hover {
  color: #635A3C;
}

.site-search input:focus {
  color: #000000;

  border-bottom: 2px solid #000000;
}

.site-search button {
  display: none;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
}

.site-search input:focus + button {
  display: block;
}

.site-search button:hover {
  color: #ffffff;

  background-color: #000000;
}

.site-search button:active {
  color: #4D4D4D;
/* здесь есть вопрос! */
  background-color: #000000;
}

.actions-list {
  list-style: none;
}

.actions-list a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  text-transform: capitalize;
  letter-spacing: 0.15px;
}

.actions-list a:hover {
  color: #AF9F6A;
}

.actions-list a:active {
  color: #BFAE74;
}


.main-navigation ul {
  list-style: none;
}

.main-site-navigation a {
  font-family: 'gilroyextrabold','gilroylight', 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: capitalize;
  letter-spacing: 3.6px;
}

.main-site-navigation a:hover {
  color: #635A3C;
}

.main-site-navigation a:active {
  color: #AD9D69;
}

.catalog-dropdown-list ul {
  display: none;
}

.catalog-dropdown-list:active ul {
  display: block;
}

.catalog-dropdown-list .dropdown-item {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.15px;
}

.catalog-dropdown-list a:hover {
  color: #625A34;
}

.catalog-dropdown-list a:active {
  color: #AC9D5C;
}

.main-slider  b {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  color: #000000;
}

.main-slider p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.main-slider .table-value {
  font-family: "gilroylight", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.17px;
  color: #000000;
}

.main-slider .table-property {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #464646;
}

.categories-list {
  list-style: none;
}

.categories-item-icon {
  background-color: #F0C52E;
}

.categories-item figcaption {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.18px;
  color: #000000;
}

.features-slider .active-tab,
.features-slider button:active {
  color: #F7E184;

  background-color: #000000;
}

.features-slider h3,
.shop-info h3 {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.21px;
  color: #000000;
}

.features-slider p,
.shop-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.logistics-list li {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.main-footer {
  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}


.user-actions a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  color: #C7C7C7;
  text-transform: capitalize;
  letter-spacing: 0.15px;
}

.user-actions a:hover {
  color: #ffffff;
}

.user-actions a:active {
  color: #7D7D7D;
}

.main-footer-middle a {
  font: inherit;

  color: #ffffff;
}

.main-footer-middle a:hover {
  color: #B5B5B5;
}

.main-footer-middle a:active {
  color: #7D7D7D;
}

address,
.telephone a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #C7C7C7;
  text-transform: capitalize;
  letter-spacing: 0.15px;
}

.social-button {
  color: #585858;
  background-color: #7D7D7D;
}

.social-button:hover {
  background-color: #B5B5B5;
}

.social-button:active {
  background-color: #585858;
}

.modal-write-us label {
  font: inherit;
}

.modal-write-us input,
.modal-write-us textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #ADADAD;

  background-color: #F2F2F2;
}
